.listTextStyle {
    background: linear-gradient(to right, rgb(65, 65, 136), rgb(78, 78, 96), #000);
    color: #ffefe7;
    margin: 0;
    text-align: center;
    transition: 2s;

    li {
        color: #ffefe7;
        display: block;
        font-size: 0.9em;
        list-style-position: inside;
        list-style-type: none;
        margin: 0.2em 0 0 0;
        padding: 0 0 0.2em 0;
        transition: 2s;
    }

    li:first-of-type {
        margin-top: 0;
    }

    li:last-of-type {
        margin-bottom: 0.2em;
    }
}