.App {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%);
  text-align: center;
}

.appMainHeader {
  background: linear-gradient(to bottom, rgba(100, 100, 100, 1) 0%,
      rgba(50, 50, 50, 0.5) 80%);
  margin: 0;
  padding: 0.3em;
}